{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}E-learning{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <a href="/" class="logo">E-learning</a>
            <ul class="menu">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sign out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script>
            $(document).ready(function() {
                {% block domready %}
                {% endblock %}
            });
        </script>
    </body>

</html>
